@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.FrontPage2>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "SiteMaster.cshtml";
}

<section class="flex-half">

    <div class="about-codegarden">

        <h2>23rd - 25th of May, 2018</h2>
        <p>
            @Model.Content.SummaryPost



    </p>
    <a href="https://shop.umbraco.com/shop/cart/?p=7133&n=963" class="button-purple big">Buy your codegarden ticket now &rarr;</a>
</div>


<div class="codegarden-facts">
    <a class="twitter-timeline" href="https://twitter.com/codegarden?ref_src=twsrc%5Etfw"
       data-height="100%"
  data-chrome="nofooter"
  data-link-color="#820bbb"
  data-border-color="#a80000">
    >Tweets by codegarden</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

</section>

<!-- Price section -->

@*<section class="flex-half">
    <div style="flex:0 0 40%; position:relative; display: flex; justify-content: center; align-items: center;">
    <img src="/media/1077/price-steps-regular-tickets-600x480.png" title="Codegarden ticket prices" />
    </div>

    <div class="description" style="flex: 0 0 60%; padding:0 0 0 20px;">

        <h2>The sooner you book the cheaper it is</h2>
<p>It is no secret (or surprise) that the sooner we know how many will attend, the better we can plan for the festival. We want to make it all as awesome for you as possible!</p>
<p> </p>
<p>That's why we want to offer the tickets to the fast buyers, cheaper. That makes it easier for us, and easier for you to convince your boss to pay for the ticket.</p>

    </div>
</section>*@


<section id="References" class="">
    <h2 class="headline">References</h2>
    @Model.Content.ReferencesPost

</section>

<section id="themes" class="themes row">
    <div class="block col-md-8">
        <h2 class="headline">Codegarden 2018 Themes</h2>
        <p class="abstract">
            @Model.Content.ThemesFrontPageDescription
        </p>

        <ul class="track-list">
            @{
                var Themesinfo = Model.Content.NestedThemesContent;
                foreach (var item in Themesinfo)
                {
                    <li class="track">
                        <div class="inner">
                            <div class="description">
                                <h3>@item.GetPropertyValue("topicThemes")</h3>
                                <p>
                                    @item.GetPropertyValue("descriptionThemes")
                                </p>
                            </div>
                        </div>
                    </li>
                }
            }

        </ul>

    </div>
    <div class="codegarden-facts col-md-4">
        <div class="title">What you get</div>
        <ul>
            <li>3 full days of Umbraco</li>
            <li>A ton of amazing sessions</li>
            <li>Great workshops</li>
            <li>Lunch and dinner are included in the ticket</li>
            <li>All the coffee, water and snacks you can handle</li>
            <li>Social events (meaning we ain't done when the sessions and workshops are!)</li>
        </ul>
        <p><a href="https://codegarden18.com/media/1002/convince-your-boss-codegarden18.pdf">Convince your boss!</a></p>
    </div>
</section>

<section id="speakers" class="speakers">
    <div class="block">
        <h2 class="headline">Speakers</h2>
        <p class="abstract">
            This years line-up of speakers is bigger and broader than ever.
            Come and hear from industry leaders, tinkers and thinkers, covering strategy, case stories, great design and deep dives into the Umbraco core
        </p>

      
        @Html.Partial("SpeakersFrontpage")

        <p class="abstract">
            <strong class="addispeakers">New speakers are added every week as we approach Codegarden 2018</strong>
        </p>

    </div>
</section>

    <section id="themes" class="themes">   @* Schedule*@
        <h2 class="headline">Schedule</h2>
        @Html.Partial("Schedule")
        <p class="abstract">
            <strong class="addispeakers">
                <a class="button-purple" href="/schedule">See the full schedule</a>
            </strong>
        </p>
        </section>
    <!-- Developer Track Themes -->
    
@{ 
    var extraitems = Model.Content.Extrafrontpage;

    foreach (var item in extraitems)
    {

    <!-- Target audience -->
    <section id="target-audience" class="themes">
        <div class="block">
            <h2 class="headline">@item.GetPropertyValue("topicThemes")</h2>
            <p class="abstract">
            @item.GetPropertyValue("descriptionThemes")   
            </p>
        </div>
    </section>
        }
    }





  
